---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

{% include browser-upgrade.html %}
{% include masthead.html %}

<div class="page__hero--overlay" style="background-image: url('images/nanog75_home_page_background.png');">
    <div class="wrapper" style="text-align:center;">
        <h1 class="page__title" itemprop="headline" style="">
            Welcome to the Nanog75 Hackathon!
        </h1>
        <p class="page__lead" style="font-size: 0.9em;text-align:center;">
            With a strong focus on operations - from Day0 zero-touch provisioning, to Day1 network-wide automation using Yang Models, Ansible GNMI, YDK and Open/R to Day3 based Controller-based Remediation through Openconfig gRIBI - it's time to bring your automation chops to the table!  
        </p>
        <p>
            <a href="{{ base_path }}/day0-instructions" class="btn btn--large"><i class='fa fa-step-forward'></i>Day0</a>
            <a href="{{ base_path }}/day1-instructions" class="btn btn--large"><i class='fa fa-step-forward'></i>Day1</a>
            <a href="{{ base_path }}/day2-instructions" class="btn btn--large"><i class='fa fa-step-forward'></i>Day2</a>
            <a href="{{ base_path }}/connect-to-pods/" class="btn btn--x-large"><i class='fa fa-step-forward'></i> Connect to your pods!</a>
            <!--<a href="https://www.youtube.com/watch?v=yiN8fAxlfwg" class="btn btn&#45;&#45;large" data-lity><i class='fa fa-play-circle-o'></i> Watch Video</a>-->
            <!--<a href="https://github.com/cisco-service-layer" class="btn btn&#45;&#45;large" data-lity><i class='fa fa-github'></i> Github</a>-->
        </p>
    </div>
</div>

<div id="main" role="main">
    <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
    </article>
</div>

<div class="page__footer">
    <footer>
        {% include footer.html %}
    </footer>
</div>

{% include scripts.html %}

</body>
</html>
